@font-face {
  font-family: 'open_sans-regular';
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sans-light';
  src: url("../fonts/opensans-light/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sans-lightitalic';
  src: url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot");
  src: url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.woff") format("woff"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.ttf") format("truetype"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'open_sans-semibold';
  src: url("../fonts/opensans-semibold/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed-regular';
  src: url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot");
  src: url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.woff") format("woff"), url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed-light';
  src: url("../fonts/robotocondensed-light/robotocondensed-light-webfont.eot");
  src: url("../fonts/robotocondensed-light/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-light/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light/robotocondensed-light-webfont.woff") format("woff"), url("../fonts/robotocondensed-light/robotocondensed-light-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-light/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 22, 2018 */
@font-face {
  font-family: 'latolight_italic';
  src: url("../fonts/lato-lightitalic/lato-lightitalic-webfont.eot");
  src: url("../fonts/lato-lightitalic/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-lightitalic/lato-lightitalic-webfont.woff") format("woff"), url("../fonts/lato-lightitalic/lato-lightitalic-webfont.ttf") format("truetype"), url("../fonts/lato-lightitalic/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot");
  src: url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.woff") format("woff"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.ttf") format("truetype"), url("../fonts/opensans-lightitalic/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cloister_blacklight';
  src: url("../fonts/cloisterblack-light/cloister_black_light-webfont.eot");
  src: url("../fonts/cloisterblack-light/cloister_black_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cloisterblack-light/cloister_black_light-webfont.woff") format("woff"), url("../fonts/cloisterblack-light/cloister_black_light-webfont.ttf") format("truetype"), url("../fonts/cloisterblack-light/cloister_black_light-webfont.svg#cloister_blacklight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'harbell_personal_use_onlyRg';
  src: url("../fonts/harbellpersonaluse/harbell_personal_use-webfont.eot");
  src: url("../fonts/harbellpersonaluse/harbell_personal_use-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/harbellpersonaluse/harbell_personal_use-webfont.woff") format("woff"), url("../fonts/harbellpersonaluse/harbell_personal_use-webfont.ttf") format("truetype"), url("../fonts/harbellpersonaluse/harbell_personal_use-webfont.svg#harbell_personal_use_onlyRg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato-black/lato-black-webfont.eot");
  src: url("../fonts/lato-black/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/lato-italic/lato-italic-webfont.eot");
  src: url("../fonts/lato-italic/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light/lato-light-webfont.eot");
  src: url("../fonts/lato-light/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Yahoo reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a, select {
  text-decoration: none;
  color: black;
  border: none;
  outline: none; }

select:active,
select:focus {
  border: none;
  outline: none; }

body {
  font-family: open_sans-regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 auto;
  background: url(../img/body_bg.png);
  background-position: 25px 18px; }

.clear:after {
  display: table;
  content: "";
  clear: both; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  max-width: 90%; }

.inline {
  display: inline-block; }

.center {
  text-align: center; }

h2 {
  font: 22px/18px montserratbold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.25px; }
  h2 span {
    color: #f1ad1d; }

.line {
  width: 60px;
  height: 3px;
  background: #f1ad1d;
  margin: 0 auto; }

p {
  font: 17px/24px latoregular;
  text-align: center; }

.header {
  background: url(../img/bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }
  .header__logo {
    padding-top: 385px;
    padding-left: 4px;
    letter-spacing: -0.8px;
    padding-bottom: 88px; }
  .header__txt-1 {
    font: 48px montserratbold;
    color: #fff;
    text-transform: uppercase; }
  .header__txt-2 {
    font: 18px latoregular;
    color: #fff;
    margin: 3px 0 0 3px;
    letter-spacing: 0.1px; }
  .header__txt-block-1 {
    margin: 27px 0 0 -5px;
    width: 151px;
    height: 128px;
    font: 54px montserratbold;
    text-align: center;
    line-height: 140px;
    text-transform: uppercase;
    color: #f48e0b;
    background: #fff;
    -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
    border: 1px solid white; }
  .header__txt-block-2 {
    width: 657px;
    height: 128px;
    font: 54px montserratbold;
    line-height: 140px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 22px;
    margin-left: -3px;
    border: 1px solid white;
    -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
    margin-top: 10px; }

@media only screen and (max-width: 950px) {
  .header {
    width: 100%; }
    .header__txt-block-1 {
      width: 101px;
      height: 78px;
      font-size: 36px;
      line-height: 85px; }
    .header__txt-block-2 {
      width: 430px;
      height: 78px;
      font-size: 36px;
      line-height: 85px; } }

@media only screen and (max-width: 650px) {
  .header__txt-block-1 {
    width: 75px;
    height: 60px;
    font-size: 18px;
    line-height: 67px; }
  .header__txt-block-2 {
    width: 315px;
    height: 60px;
    font-size: 18px;
    line-height: 67px; } }

@media only screen and (max-width: 500px) {
  .header__txt-block-1 {
    width: 51px;
    height: 39px;
    font-size: 18px;
    line-height: 45px; }
  .header__txt-block-2 {
    width: 215px;
    height: 39px;
    font-size: 18px;
    line-height: 45px; } }

@media all and (max-height: 550px) {
  /*.header
		&__logo
			padding-top: 210px*/ }

.menu {
  background: #fff;
  border-bottom: 2px solid #f1ad1d;
  min-height: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__common {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .menu__common img {
      margin: 16px 20px 10px 0px; }
  .menu__toggle {
    display: none;
    font: 18px/14px latoregular;
    text-align: center;
    width: 130px;
    height: 36px;
    margin: 8px 0;
    padding-top: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #f1ad1d;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .menu__toggle:hover {
      background: #333333;
      color: #f1ad1d; }
  .menu__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font: 14px/18px latoregular;
    text-transform: uppercase; }
    .menu__nav ul a {
      padding: 18px;
      cursor: pointer;
      display: block; }
      .menu__nav ul a:hover {
        color: #f1ad1d;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
  .menu .stickytop {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 0 5%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #f1ad1d;
    z-index: 1; }

@media only screen and (max-width: 900px) {
  .menu__nav ul a {
    padding: 18px 7px; } }

@media only screen and (max-width: 750px) {
  .menu__common {
    position: relative;
    width: 100%;
    display: block; }
  .menu__toggle {
    display: block;
    float: right; }
  .menu__nav {
    display: block;
    position: absolute;
    right: 0px;
    top: 60px;
    background: #fff;
    width: 90%;
    padding: 0 5%; }
    .menu__nav ul {
      display: none;
      border: 1px solid #f1ad1d; }
      .menu__nav ul li a {
        padding: 8px 7px; }
      .menu__nav ul li:hover {
        background: #333333;
        color: #f1ad1d; } }

.block-1__wrapper {
  padding: 108px 0 30px 0; }

.block-1__header {
  font: 22px/24px montserratbold;
  text-transform: uppercase;
  letter-spacing: -0.6px; }

.block-1__txt {
  font: 17px/24px latoregular;
  padding: 27px 0 49px 0; }

.block-1 img {
  margin: 35px 0 106px 0; }

@media only screen and (max-width: 584px) {
  .block-1__header {
    line-height: 30px; } }

.block-2 {
  margin: 28px 0 30px -16px; }
  .block-2__wrapper h2 {
    font: 22px/24px montserratbold;
    text-transform: uppercase;
    letter-spacing: -0.6px; }
  .block-2__wrapper p {
    font: 17px/24px latoregular;
    padding: 27px 0 49px 0; }
  .block-2__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 57px 0 0px; }
  .block-2__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 570px;
    min-height: 320px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .block-2__item {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s; }
    .block-2__item img {
      -webkit-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s; }
    .block-2__item div {
      position: absolute;
      width: 120px;
      height: 15px;
      background: #333333;
      font: 14px/12px latoregular;
      color: #fff;
      text-align: center;
      padding: 12px 0;
      bottom: 10px;
      left: 15px;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .block-2__item:hover img {
      opacity: 0.9;
      -webkit-filter: saturate(2);
              filter: saturate(2); }
    .block-2__item:hover div {
      color: #f1ad1d;
      -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
              transform: translateX(20px); }
  .block-2__item:first-child, .block-2__item:nth-child(3) {
    margin-right: 29px; }
  .block-2__item:first-child, .block-2__item:nth-child(2) {
    margin-bottom: 18px; }
  .block-2__content {
    max-width: 570px;
    margin: 0 auto; }
    .block-2__content h2 {
      font: 18px/18px montserratbold;
      text-align: left;
      padding-left: 12px; }
      .block-2__content h2 span {
        color: #f1ad1d; }
    .block-2__content p {
      font: 14px/22px latolight;
      padding: 18px 0 0 14px;
      text-align: left; }
    .block-2__content p:nth-child(3) {
      padding-top: 22px;
      margin-bottom: 50px; }
    .block-2__content a {
      font: 14px/12px latobold;
      width: 175px;
      height: 100px;
      padding: 18px 27px;
      background: #f1ad1d;
      margin-left: 14px;
      color: #fff;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .block-2__content a:hover {
        background: #000;
        color: #f1ad1d; }

@media only screen and (max-width: 635px) {
  .block-2 h2 {
    line-height: 30px; }
  .block-2__images {
    max-width: 270px; }
  .block-2__item {
    margin-bottom: 20px; }
  .block-2__content {
    max-width: 90%; } }

.block-3 {
  background: url("../img/bg1.jpg") no-repeat 0 0 fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  height: 380px;
  margin-top: 142px; }
  .block-3 h2 {
    font: 22px/18px montserratbold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 10px 55px 0;
    letter-spacing: -0.35px; }
    .block-3 h2 span {
      color: #f1ad1d; }

@media only screen and (max-width: 450px) {
  .block-3 h2 {
    line-height: 30px; } }

.block-4 {
  margin: 114px 0 50px; }
  .block-4 h2 {
    font: 22px/18px montserratbold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.4px; }
  .block-4 p {
    font: 17px/24px latoregular;
    text-align: center;
    margin: 30px 0 50px 0; }
  .block-4__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    max-width: 1170px;
    margin: 50px auto 0;
    margin-left: -3px; }
  .block-4__item {
    position: relative;
    margin-left: 2px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer; }
    .block-4__item img {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .block-4__item div {
      position: absolute;
      width: 130px;
      background: #333333;
      font: 14px/12px latoregular;
      color: #fff;
      text-align: center;
      padding: 15px 12px;
      bottom: 17px;
      left: 15px;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
    .block-4__item span {
      color: #f1ad1d; }
    .block-4__item:hover img {
      opacity: 0.9;
      -webkit-filter: saturate(0.2);
              filter: saturate(0.2); }

@media only screen and (max-width: 537px) {
  .block-4 h2 {
    line-height: 30px; } }

.block-5 {
  margin: 205px 0 165px; }
  .block-5 h2 {
    font: 22px/18px montserratbold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.4px; }
  .block-5 p {
    font: 17px/24px latoregular;
    text-align: center;
    margin: 30px 0 45px 0; }
  .block-5__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
  .block-5__item {
    width: 270px;
    margin: 0 15px 30px;
    padding-bottom: 32px;
    border-bottom: 3px solid #333333;
    text-align: center; }
    .block-5__item h3 {
      font: 18px/ 18px montserratbold;
      text-align: center;
      height: 55px;
      background: #333333;
      color: #fff;
      padding: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .block-5__item h3 span {
        color: #f1ad1d; }
    .block-5__item i {
      margin: 30px 105px 0px;
      font-size: 54px;
      color: #333333; }
    .block-5__item p {
      font: 14px/20px latolight;
      margin: 0; }
    .block-5__item p.content {
      font: 14px/16px latolight;
      margin-top: 20px; }
    .block-5__item p.offer {
      font: 18px/20px latoregular;
      margin-bottom: 10px; }
    .block-5__item div {
      margin: 25px auto;
      width: 60px;
      height: 3px;
      background: #f1ad1d; }
  .block-5__item:last-child {
    margin-right: 0; }
  .block-5__item:first-child {
    margin-left: 0; }

@media only screen and (max-width: 1320px) {
  .block-5__item {
    width: 200px; }
  .block-5 i {
    margin: 30px 70px 0px; } }

@media only screen and (max-width: 1010px) {
  .block-5__item {
    width: 80%; }
  .block-5 i {
    text-align: center; } }

@media only screen and (max-width: 700px) {
  .block-5 {
    margin: 20px 0; } }

@media only screen and (max-width: 445px) {
  .block-5 h2 {
    line-height: 30px; } }

.block-6 {
  background: url("../img/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  height: 474px; }
  .block-6 h2 {
    font: 22px/18px montserratbold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 173px 0 60px 0;
    letter-spacing: -0.25px; }
    .block-6 h2 span {
      color: #f1ad1d; }
  .block-6 img {
    margin: 12px; }
  .block-6__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 900px;
    margin: 45px auto; }

@media only screen and (max-width: 870px) {
  .block-6 img:last-child {
    margin-left: 42px; } }

@media only screen and (max-width: 500px) {
  .block-6 h2 {
    line-height: 30px; }
  .block-6 img {
    width: 100px;
    height: 40px; }
  .block-6 img:last-child {
    margin-left: 0px; } }

.block-7 {
  margin: 150px 0 50px 0; }
  .block-7__wrapper {
    width: 1180px; }
  .block-7 p {
    margin: 30px 0 50px 0; }
  .block-7 ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0 30px; }
    .block-7 ul li {
      font: 14px/18px latoregular;
      padding: 10px 37px;
      margin: 9px;
      max-width: 830px;
      border: 1px solid #333333;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .block-7 ul li:hover {
        background: #000;
        color: #f1ad1d; }
  .block-7__portfolio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1180px; }
  .block-7__item {
    position: relative;
    cursor: pointer;
    margin: 7px 7px 4px 7px; }
    .block-7__item:hover img {
      opacity: 0; }
    .block-7__item:hover div.block-7__content {
      opacity: 1; }
    .block-7__item:hover div.block-7__title {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1; }
    .block-7__item:hover div.block-7__btn {
      opacity: 1;
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px); }
    .block-7__item img {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      opacity: 1; }
  .block-7__content {
    position: absolute;
    width: 275px;
    height: 265px;
    border: 3px solid #000;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0; }
  .block-7__title {
    font: 17px/24px latoregular;
    text-align: center;
    margin: 43px 0 20px 0;
    -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
            transform: translateY(-60px);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0; }
  .block-7__info {
    font: 14px/16px latolight;
    margin: 30px 20px 27px 20px;
    text-align: center;
    letter-spacing: -0.1px; }
  .block-7__btn {
    font: 14px/18px latobold;
    padding: 10px 1px;
    background: #f1ad1d;
    color: #fff;
    width: 140px;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: opacity 1s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
    transition: opacity 1s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
    -o-transition: transform 0.5s ease 0.3s, opacity 1s ease 0.3s;
    transition: transform 0.5s ease 0.3s, opacity 1s ease 0.3s;
    transition: transform 0.5s ease 0.3s, opacity 1s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0; }
    .block-7__btn:hover {
      background: #000;
      color: #f1ad1d; }

@media only screen and (max-width: 700px) {
  .block-7 {
    margin: 70px 0; } }

.block-8 {
  margin: 158px 0  10px 0; }
  .block-8__wrapper {
    width: 1170px; }
    .block-8__wrapper h2 {
      letter-spacing: -0.5px; }
    .block-8__wrapper p {
      margin: 30px 0 45px 0; }
  .block-8__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px; }

@media only screen and (max-width: 700px) {
  .block-8 {
    margin: 70px 0; } }

.block-9 {
  margin: 110px 0 0px 0; }
  .block-9__wrapper h2 {
    letter-spacing: -0.5px; }
  .block-9__wrapper p {
    margin: 30px 0 45px 0; }
  .block-9__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 62px 0 30px 0; }
  .block-9__item {
    max-width: 370px; }
  .block-9__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .block-9__top i {
      font-size: 50px; }
    .block-9__top div {
      height: 3px;
      width: 305px;
      background: #f1ad1d;
      margin-top: 13px;
      margin-left: 20px; }
  .block-9__middle p {
    font: 14px/20px latolight;
    margin: 8px 0 0px 0px;
    text-align: justify; }
  .block-9__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 25px 0 0 0;
    border-top: 3px solid #000;
    padding: 14px 0 0  0; }
    .block-9__bottom p.name {
      font: 14px/10px latoregular;
      width: 150px;
      margin: 0 0 0 10px;
      text-align: left; }
      .block-9__bottom p.name span {
        font: 14px/20px latolight; }

@media only screen and (max-width: 1310px) {
  .block-9__item {
    max-width: 300px; } }

@media only screen and (max-width: 1080px) {
  .block-9__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .block-9__item {
    max-width: 60%;
    margin-bottom: 50px; }
  .block-9__top div {
    width: 100%; } }

@media only screen and (max-width: 700px) {
  .block-9 {
    margin: 70px 0; } }

.block-10 {
  background: url("../img/bg3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  height: 485px;
  margin-top: 142px; }
  .block-10 h2 {
    font: 22px/32px montserratbold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 130px 0 60px 0;
    letter-spacing: -0.5px; }
    .block-10 h2 span {
      color: #f1ad1d; }
  .block-10 p {
    font: 18px/30px latoregular;
    max-width: 580px;
    margin: 52px auto 40px;
    letter-spacing: 0.6px;
    color: #fff; }
    .block-10 p span {
      color: #f1ad1d; }
  .block-10__long-line {
    width: 285px;
    background: #fff; }

@media only screen and (max-width: 700px) {
  .block-10 {
    margin: 70px 0; }
    .block-10 p {
      font-size: 14px; }
    .block-10__long-line {
      width: 285px;
      background: #fff; } }

.block-11 {
  margin: 153px 0 50px; }
  .block-11 div.wrapper {
    width: 1200px; }
  .block-11 h2 {
    letter-spacing: -0.5px;
    margin-bottom: 30px; }
  .block-11__line {
    margin: 50px auto 35px; }
  .block-11__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 1200px; }
  .block-11__item {
    width: 370px;
    height: auto;
    margin: 15px; }
    .block-11__item .title {
      height: 50px; }
    .block-11__item .quote {
      max-width: 370px;
      min-height: 157px;
      font: 26px/30px open_sans-lightitalic;
      padding: 24px 18px;
      color: #666666;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: #dbdbdb url(../img/quote_bg.png) no-repeat right bottom; }
      .block-11__item .quote div {
        font: 12px/12px open_sans-regular;
        padding-top: 15px; }
    .block-11__item i {
      font-size: 14px;
      padding: 9px 12px;
      background: #000;
      color: #f1ad1d;
      margin-top: 8px; }
    .block-11__item a {
      font: 18px/22px montserratbold;
      margin: 0px 5px;
      letter-spacing: -0.5px; }
    .block-11__item p {
      font: 14px/17px latolight;
      text-align: left;
      padding-bottom: 16px;
      border-bottom: 1px solid #c1c1c1; }
    .block-11__item .date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 12px 0;
      border-bottom: 3px solid #333333; }
      .block-11__item .date span {
        font: 12px/12px latolight; }
      .block-11__item .date a {
        font: 12px/12px latolight; }
  .block-11 .one {
    display: block;
    margin: 58px auto;
    font-size: 14px;
    padding: 16px 50px;
    color: white;
    background-color: #f1ad1d;
    width: 130px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: center; }
    .block-11 .one:hover {
      background: #333333;
      color: #f1ad1d; }

@media only screen and (max-width: 700px) {
  .block-11 {
    margin: 70px 0; } }

@media only screen and (max-width: 400px) {
  .block-11__item img {
    width: 100%; }
  .block-11__item .title {
    height: 60px; }
    .block-11__item .title a {
      font-size: 12px; }
  .block-11__item object {
    width: 100%;
    height: auto; } }

.block-12 {
  background: url("../img/bg4.jpg") no-repeat 0 0 fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  height: 380px;
  margin-top: 155px; }
  .block-12 h2 {
    font: 21px/32px montserratbold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 87px 0 50px 0;
    letter-spacing: 0.15px; }
    .block-12 h2 span {
      color: #f1ad1d; }
  .block-12 a {
    display: block;
    margin: 66px auto;
    font-size: 14px;
    padding: 16px 25px;
    color: white;
    width: 130px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: center;
    border: 1px solid #fff;
    text-transform: uppercase; }
    .block-12 a:hover {
      background: #fff;
      color: #000; }

@media only screen and (max-width: 700px) {
  .block-12 {
    margin: 70px 0; } }

.block-13 {
  margin: 153px 0 50px; }
  .block-13 div.wrapper {
    width: 1200px; }
  .block-13 h2 {
    letter-spacing: -0.5px;
    margin-bottom: 28px; }
  .block-13__line {
    margin: 50px auto 58px; }
  .block-13__subscribe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .block-13__subscribe input[type="text"] {
      height: 66px;
      width: 600px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 6px 28px 0;
      font: 18px/10px latoitalic; }
    .block-13__subscribe input[type="submit"] {
      height: 66px;
      width: 169px;
      vertical-align: top;
      font: 18px/18px latobold;
      color: #fff;
      background: #f1ad1d;
      border: none;
      cursor: pointer;
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .block-13__subscribe input[type="submit"]:hover {
        color: #f1ad1d;
        background: #333333; }

@media only screen and (max-width: 700px) {
  .block-13 {
    margin: 70px 0; } }

@media only screen and (max-width: 500px) {
  .block-13 h2 {
    line-height: 30px; }
  .block-13__subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .block-13__subscribe input[type="text"] {
      height: 46px;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 6px 28px 0;
      font: 18px/10px latoitalic; }
    .block-13__subscribe input[type="submit"] {
      height: 46px;
      width: 169px;
      margin-top: 20px; } }

.block-14 {
  margin: 176px 0 50px; }
  .block-14__wrapper {
    width: 1200px; }
  .block-14 h2 {
    letter-spacing: -0.5px;
    margin-bottom: 28px; }
    .block-14 h2 span {
      color: #f1ad1d; }
  .block-14__line {
    margin: 50px auto 58px; }
  .block-14__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 0;
    max-width: 1137px; }
  .block-14__left-col {
    margin: 0 13px;
    width: 572px; }
    .block-14__left-col h2 {
      font-size: 18px;
      text-align: left;
      margin: 0 0 31px 0; }
      .block-14__left-col h2 span {
        color: #f1ad1d; }
    .block-14__left-col p {
      font-size: 14px;
      text-align: left; }
  .block-14__form {
    margin: 21px 0; }
  .block-14__form-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .block-14__form-top input[type="text"] {
      -webkit-flex-basis: 47.5%;
          -ms-flex-preferred-size: 47.5%;
              flex-basis: 47.5%;
      height: 46px;
      font: 14px/12px latolight_italic;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 12px;
      border: 1px solid #929292;
      background: #fff; }
  .block-14 textarea {
    width: 100%;
    margin: 20px 0;
    height: 184px;
    font: 14px/12px latolight_italic;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 18px 13px; }
    .block-14 textarea:focus {
      border: none; }
  .block-14 input[type="submit"] {
    width: 120px;
    height: 45px;
    margin-right: 20px;
    background: #f1ad1d;
    color: #fff;
    font: 14px/12px latoblack;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .block-14 input[type="submit"]:hover {
      background: #333333;
      color: #fff; }
  .block-14__right-col {
    margin: 0 13px;
    max-width: 310px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
    .block-14__right-col h2 {
      font-size: 18px;
      text-align: left;
      margin: 0 0 31px 0px; }
      .block-14__right-col h2 span {
        color: #f1ad1d; }
    .block-14__right-col p {
      font-size: 14px;
      text-align: left;
      margin-bottom: 22px; }
  .block-14__contact-item {
    margin: 9px 0; }
    .block-14__contact-item i {
      width: 36px;
      height: 32px;
      background: #000;
      color: #f1ad1d;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 10px; }
    .block-14__contact-item span {
      margin-left: 10px;
      display: inline-block;
      max-width: 60%;
      vertical-align: top; }
  .block-14__contact-item:nth-child(6) {
    margin-bottom: 60px; }
  .block-14__soc i {
    width: 43px;
    height: 40px;
    background: #f1ad1d;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin: 14px 15px 0 0; }
    .block-14__soc i:hover {
      background: #333333;
      color: #fff; }

@media only screen and (max-width: 1054px) {
  .block-14__left-col {
    margin: 0 auto; }
  .block-14__right-col {
    margin: 0 auto;
    padding-right: 260px; } }

@media only screen and (max-width: 700px) {
  .block-14 {
    margin: 70px 0; } }

@media only screen and (max-width: 560px) {
  .block-14__right-col {
    margin: 0 0;
    padding-right: 0; } }

@media only screen and (max-width: 500px) {
  .block-14__form-top input[type="text"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 20px; }
  .block-14__form input[type="submit"] {
    width: 80px;
    height: 35px; }
  .block-14__contact-item {
    margin: 9px 0; }
    .block-14__contact-item i {
      width: 36px;
      height: 32px;
      background: #000;
      color: #f1ad1d;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 10px;
      display: inline-block; } }

.footer {
  min-height: 280px;
  background: #333333;
  padding: 70px 30px; }
  .footer__wrapper {
    text-align: center; }
    .footer__wrapper p {
      color: white;
      max-width: 615px;
      margin: 45px auto;
      font-size: 12px; }
  .footer__soc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__item {
    width: 120px;
    height: 46px;
    border: 1px solid #fff;
    text-align: center;
    padding-top: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    margin: 10px 10px; }
    .footer__item:hover {
      color: #f1ad1d;
      background: #fff; }
    .footer__item i {
      font-size: 16px; }
    .footer__item span {
      font-size: 13px; }

@media only screen and (max-width: 560px) {
  .footer__wrapper p {
    text-align: justify; } }
